language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -r REQUIREMENTS.txt
  - pip install codecov
  - pip install pytest-cov

script: py.test --cov=marisol tests/

after_success:
  - bash <(curl -s https://codecov.io/bash)